html{
  width: 100%;
  height: 90%;
  background-color: rgb(32, 68, 92);
  background-image:url("bkg_page.jpg");
}

*{
  font-family: sans-serif;
  color: rgb(215, 255, 255);
}

body{
  width: 950px;
  height: 1830px;
  border-radius: 20px;
  background-color: rgba(7, 10, 80, 0.8);
  margin-left: auto;
  margin-right: auto;
}

.container{
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 120px;
  gap: 1%;
}

.box{
  text-align: justify;
  line-height: 25px;
}

.foto{
  margin: 0px 0px 15px 15px;
  width: 180px; 
  height: 180px;
  border-radius: 150px;
  float: right;
}

.topo{
  grid-area: 1 / 2 / 2 / 3;
}

h1{
  font-size: 35px;
  padding-top: 0.9em;
  text-align: center;
  height: 50px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.language{
  grid-area: 1 / 3 / 2 / 4;
  margin: auto;

}

h2{
  margin: 0%;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h3{
  margin: 0%;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h3{
  margin: 0%;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

footer{
  height: 50px;
}

.linkedin {
  width: 30px; 
  height: 30px; 
  border-radius: 20px; 
  float: left;
}

.linkedin:hover{
  border-style: solid;
  border-width: 2px;
  border-color: rgba(190, 255, 255);
}

.text-shadow-drop-bottom {
	-webkit-animation: text-shadow-drop-bottom 2s infinite alternate-reverse both;
	        animation: text-shadow-drop-bottom 2s infinite alternate-reverse both;
}

@-webkit-keyframes text-shadow-drop-bottom {
  0% {
    text-shadow: 0 0 0 rgb(116, 239, 255);
  }
  100% {
    text-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
  }
}
@keyframes text-shadow-drop-bottom {
  0% {
    text-shadow: 0 0 0 rgb(0, 162, 255);
  }
  100% {
    text-shadow: 0 6px 18px rgb(0, 162, 255);
  }
}



