html{
  width: 100%;
  height: 90%;
  background-color: rgb(32, 68, 92);
  background-image:url("bkg_page.jpg");
}

*{
  font-family: sans-serif;
  color: rgb(215, 255, 255);
}

body{
  margin-left: 22%;
  width: 900px;
  height: 1830px;
  border-radius: 20px;
  background-color: rgba(7, 10, 80, 0.8);
}

.box{
  text-align: justify;
  line-height: 25px;
}

.foto{
  margin: 20px;
  width: 180px; 
  height: 180px; 
  border-radius: 150px; 
  float: right;
}

h1{
  padding-top: 1em;
  text-align: center;
  height: 40px;
  margin-block-start: 0em;
  margin-block-end: 0em
}

h2{
  margin: 0%;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h3{
  margin: 0%;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h3{
  margin: 0%;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

footer{
  height: 50px;
}

.linkedin {
  width: 30px; 
  height: 30px; 
  border-radius: 5px; 
  float: left;
}

.linkedin:hover{
  opacity: 0.85;
  box-shadow: 1.5px 1.5px rgb(170, 255, 255, 0.8);
}

.text-shadow-drop-bottom {
	-webkit-animation: text-shadow-drop-bottom 2s infinite alternate-reverse both;
	        animation: text-shadow-drop-bottom 2s infinite alternate-reverse both;
}

@-webkit-keyframes text-shadow-drop-bottom {
  0% {
    text-shadow: 0 0 0 rgb(116, 239, 255);
  }
  100% {
    text-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
  }
}
@keyframes text-shadow-drop-bottom {
  0% {
    text-shadow: 0 0 0 rgb(0, 162, 255);
  }
  100% {
    text-shadow: 0 6px 18px rgb(0, 162, 255);
  }
}



